.shops-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #111;
}
.shops-logo {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shops-navlink {
  display: contents;
}
.shops-image {
  width: var(--dl-size-size-xxlarge);
  align-self: center;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.shops-text {
  color: var(--dl-color-gray-white);
  font-size: 4em;
}
.shops-cards {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
}
.shops-link {
  display: contents;
}
.shops-card {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  margin: var(--dl-space-space-twounits);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.shops-image1 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
}
.shops-text03 {
  color: var(--dl-color-gray-white);
  direction: rtl;
  text-align: center;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-twounits);
}
.shops-text07 {
  color: var(--dl-color-gray-white);
  font-size: 35px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.shops-link1 {
  display: contents;
}
.shops-card1 {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  margin: var(--dl-space-space-twounits);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.shops-image2 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
}
.shops-text10 {
  color: var(--dl-color-gray-white);
  direction: rtl;
  text-align: center;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-twounits);
}
.shops-text15 {
  color: var(--dl-color-gray-white);
  font-size: 35px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.shops-link2 {
  display: contents;
}
.shops-card2 {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  margin: var(--dl-space-space-twounits);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.shops-image3 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
}
.shops-text18 {
  color: var(--dl-color-gray-white);
  direction: rtl;
  text-align: center;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-twounits);
}
.shops-text23 {
  color: var(--dl-color-gray-white);
  font-size: 35px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.shops-cards-2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
}
.shops-link3 {
  display: contents;
}
.shops-card3 {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  margin: var(--dl-space-space-twounits);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.shops-image4 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
}
.shops-text26 {
  color: var(--dl-color-gray-white);
  direction: rtl;
  text-align: center;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-twounits);
}
.shops-text30 {
  color: var(--dl-color-gray-white);
  font-size: 35px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.shops-link4 {
  display: contents;
}
.shops-card4 {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  margin: var(--dl-space-space-twounits);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.shops-inline {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.shops-image5 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
}
.shops-text31 {
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  align-self: center;
  margin-top: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30%;
}
.shops-text32 {
  color: var(--dl-color-gray-white);
  filter: blur(6px);
  direction: rtl;
  text-align: center;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-twounits);
}
.shops-text37 {
  color: var(--dl-color-gray-white);
  filter: blur(6px);
  font-size: 35px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.shops-link5 {
  display: contents;
}
.shops-card5 {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  margin: var(--dl-space-space-twounits);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.shops-inline1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.shops-image6 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
}
.shops-text40 {
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  align-self: center;
  margin-top: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30%;
}
.shops-text43 {
  color: var(--dl-color-gray-white);
  filter: blur(6px);
  direction: rtl;
  text-align: center;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-twounits);
}
.shops-text48 {
  color: var(--dl-color-gray-white);
  filter: blur(6px);
  font-size: 35px;
  margin-bottom: var(--dl-space-space-fourunits);
}
@media(max-width: 1600px) {
  .shops-card {
    margin: var(--dl-space-space-oneandhalfunits);
  }
  .shops-text03 {
    font-size: 2em;
  }
  .shops-card1 {
    margin: var(--dl-space-space-oneandhalfunits);
  }
  .shops-text10 {
    color: var(--dl-color-gray-white);
    font-size: 2em;
  }
  .shops-card2 {
    margin: var(--dl-space-space-oneandhalfunits);
  }
  .shops-text18 {
    font-size: 2em;
  }
  .shops-card3 {
    margin: var(--dl-space-space-oneandhalfunits);
  }
  .shops-text26 {
    font-size: 2em;
  }
  .shops-card4 {
    margin: var(--dl-space-space-oneandhalfunits);
  }
  .shops-text32 {
    color: var(--dl-color-gray-white);
    font-size: 2em;
  }
  .shops-card5 {
    margin: var(--dl-space-space-oneandhalfunits);
  }
  .shops-text43 {
    font-size: 2em;
  }
}
@media(max-width: 1200px) {
  .shops-text {
    direction: rtl;
  }
  .shops-card {
    margin: auto;
  }
  .shops-text03 {
    direction: inherit;
    font-size: 1.5em;
    text-align: center;
  }
  .shops-text07 {
    font-size: 32px;
    text-align: center;
  }
  .shops-card1 {
    margin: auto;
  }
  .shops-text10 {
    color: var(--dl-color-gray-white);
    direction: inherit;
    font-size: 1.5em;
    text-align: center;
  }
  .shops-text15 {
    font-size: 32px;
    text-align: center;
  }
  .shops-card2 {
    margin: auto;
  }
  .shops-text18 {
    direction: inherit;
    font-size: 1.5em;
    text-align: center;
  }
  .shops-text23 {
    font-size: 32px;
    text-align: center;
  }
  .shops-card3 {
    margin: auto;
  }
  .shops-text26 {
    direction: inherit;
    font-size: 1.5em;
    text-align: center;
  }
  .shops-text30 {
    font-size: 32px;
    text-align: center;
  }
  .shops-card4 {
    margin: auto;
  }
  .shops-text32 {
    color: var(--dl-color-gray-white);
    direction: inherit;
    font-size: 1.5em;
    text-align: center;
  }
  .shops-text37 {
    font-size: 32px;
    text-align: center;
  }
  .shops-card5 {
    margin: auto;
  }
  .shops-text43 {
    direction: inherit;
    font-size: 1.5em;
    text-align: center;
  }
  .shops-text48 {
    font-size: 32px;
    text-align: center;
  }
}
@media(max-width: 991px) {
  .shops-text03 {
    font-size: 1.2em;
    text-align: center;
  }
  .shops-text07 {
    font-size: 25px;
  }
  .shops-text10 {
    font-size: 1.2em;
    text-align: center;
  }
  .shops-text15 {
    font-size: 25px;
  }
  .shops-text18 {
    font-size: 1.2em;
    text-align: center;
  }
  .shops-text23 {
    font-size: 25px;
  }
  .shops-text26 {
    font-size: 1.2em;
    text-align: center;
  }
  .shops-text30 {
    font-size: 25px;
  }
  .shops-text32 {
    font-size: 1.2em;
    text-align: center;
  }
  .shops-text37 {
    font-size: 25px;
  }
  .shops-text43 {
    font-size: 1.2em;
    text-align: center;
  }
  .shops-text48 {
    font-size: 25px;
  }
}
@media(max-width: 767px) {
  .shops-cards {
    flex-direction: column;
  }
  .shops-card {
    width: 100%;
    margin: var(--dl-space-space-twounits);
  }
  .shops-text03 {
    font-size: 2em;
  }
  .shops-text07 {
    font-size: 1.7em;
  }
  .shops-card1 {
    width: 100%;
    margin: var(--dl-space-space-twounits);
  }
  .shops-text10 {
    font-size: 2em;
  }
  .shops-text15 {
    font-size: 1.7em;
  }
  .shops-card2 {
    width: 100%;
    margin: var(--dl-space-space-twounits);
  }
  .shops-text18 {
    font-size: 2em;
  }
  .shops-text23 {
    font-size: 1.7em;
  }
  .shops-cards-2 {
    flex-direction: column;
  }
  .shops-card3 {
    width: 100%;
    margin: var(--dl-space-space-twounits);
  }
  .shops-text26 {
    font-size: 2em;
  }
  .shops-text30 {
    font-size: 1.7em;
  }
  .shops-card4 {
    width: 100%;
    margin: var(--dl-space-space-twounits);
  }
  .shops-text32 {
    font-size: 2em;
  }
  .shops-text37 {
    font-size: 1.7em;
  }
  .shops-card5 {
    width: 100%;
    margin: var(--dl-space-space-twounits);
  }
  .shops-text43 {
    font-size: 2em;
  }
  .shops-text48 {
    font-size: 1.7em;
  }
}
@media(max-width: 479px) {
  .shops-text {
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .shops-card {
    margin: var(--dl-space-space-twounits);
  }
  .shops-text03 {
    font-size: 1.8em;
  }
  .shops-card1 {
    margin: var(--dl-space-space-twounits);
  }
  .shops-text10 {
    font-size: 1.8em;
  }
  .shops-card2 {
    margin: var(--dl-space-space-twounits);
  }
  .shops-text18 {
    font-size: 1.8em;
  }
  .shops-card3 {
    margin: var(--dl-space-space-twounits);
  }
  .shops-text26 {
    font-size: 1.8em;
  }
  .shops-card4 {
    margin: var(--dl-space-space-twounits);
  }
  .shops-text32 {
    font-size: 1.8em;
  }
  .shops-card5 {
    margin: var(--dl-space-space-twounits);
  }
  .shops-text43 {
    font-size: 1.8em;
  }
}
