.cards-cards {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  align-items: flex-start;
}
.cards-link {
  display: contents;
}
.cards-card {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  margin: var(--dl-space-space-twounits);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.cards-image {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
}
.cards-text {
  color: var(--dl-color-gray-white);
  direction: rtl;
  text-align: center;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-twounits);
}
.cards-text04 {
  color: var(--dl-color-gray-white);
  font-size: 35px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.cards-link1 {
  display: contents;
}
.cards-card1 {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  margin: var(--dl-space-space-twounits);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.cards-image1 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
}
.cards-text07 {
  color: var(--dl-color-gray-white);
  direction: rtl;
  text-align: center;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-twounits);
}
.cards-text12 {
  color: var(--dl-color-gray-white);
  font-size: 35px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.cards-link2 {
  display: contents;
}
.cards-card2 {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  margin: var(--dl-space-space-twounits);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.cards-image2 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
}
.cards-text15 {
  color: var(--dl-color-gray-white);
  direction: rtl;
  text-align: center;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-twounits);
}
.cards-text20 {
  color: var(--dl-color-gray-white);
  font-size: 35px;
  margin-bottom: var(--dl-space-space-fourunits);
}
@media(max-width: 1600px) {
  .cards-card {
    margin: var(--dl-space-space-oneandhalfunits);
  }
  .cards-text {
    font-size: 2em;
  }
  .cards-card1 {
    margin: var(--dl-space-space-oneandhalfunits);
  }
  .cards-text07 {
    color: var(--dl-color-gray-white);
    font-size: 2em;
  }
  .cards-card2 {
    margin: var(--dl-space-space-oneandhalfunits);
  }
  .cards-text15 {
    font-size: 2em;
  }
}
@media(max-width: 1200px) {
  .cards-card {
    margin: auto;
  }
  .cards-text {
    direction: inherit;
    font-size: 1.5em;
    text-align: center;
  }
  .cards-text04 {
    font-size: 32px;
    text-align: center;
  }
  .cards-card1 {
    margin: auto;
  }
  .cards-text07 {
    color: var(--dl-color-gray-white);
    direction: inherit;
    font-size: 1.5em;
    text-align: center;
  }
  .cards-text12 {
    font-size: 32px;
    text-align: center;
  }
  .cards-card2 {
    margin: auto;
  }
  .cards-text15 {
    direction: inherit;
    font-size: 1.5em;
    text-align: center;
  }
  .cards-text20 {
    font-size: 32px;
    text-align: center;
  }
}
@media(max-width: 991px) {
  .cards-text {
    font-size: 1.2em;
    text-align: center;
  }
  .cards-text04 {
    font-size: 25px;
  }
  .cards-text07 {
    font-size: 1.2em;
    text-align: center;
  }
  .cards-text12 {
    font-size: 25px;
  }
  .cards-text15 {
    font-size: 1.2em;
    text-align: center;
  }
  .cards-text20 {
    font-size: 25px;
  }
}
@media(max-width: 767px) {
  .cards-cards {
    flex-direction: column;
  }
  .cards-card {
    width: 100%;
    margin: var(--dl-space-space-twounits);
  }
  .cards-text {
    font-size: 2em;
  }
  .cards-text04 {
    font-size: 1.7em;
  }
  .cards-card1 {
    width: 100%;
    margin: var(--dl-space-space-twounits);
  }
  .cards-text07 {
    font-size: 2em;
  }
  .cards-text12 {
    font-size: 1.7em;
  }
  .cards-card2 {
    width: 100%;
    margin: var(--dl-space-space-twounits);
  }
  .cards-text15 {
    font-size: 2em;
  }
  .cards-text20 {
    font-size: 1.7em;
  }
}
@media(max-width: 479px) {
  .cards-card {
    margin: var(--dl-space-space-twounits);
  }
  .cards-text {
    font-size: 1.8em;
  }
  .cards-card1 {
    margin: var(--dl-space-space-twounits);
  }
  .cards-text07 {
    font-size: 1.8em;
  }
  .cards-card2 {
    margin: var(--dl-space-space-twounits);
  }
  .cards-text15 {
    font-size: 1.8em;
  }
}
