<div>
  <link href="./card.css" rel="stylesheet" />
  <a
    href="https://www.google.com/maps/place/I+Solomon/@31.6058001,34.7771782,19.69z/data=!4m19!1m12!4m11!1m3!2m2!1d34.7772395!2d31.6057825!1m6!1m2!1s0x1502937ed29b7145:0x8df88cd7809b22fb!2z16HXoNeZ16Mg16fXqNeZ15nXqiDXkteqIC0g157XqteX150gSSBTT0xPTU9O4oCt!2m2!1d34.7772321!2d31.6057407!3m5!1s0x1502937ed29b7145:0x8df88cd7809b22fb!8m2!3d31.6057407!4d34.7772321!16s%2Fg%2F11fl3ynsn5?entry=ttu"
    target="_blank"
    rel="noreferrer noopener"
  >
    <div data-aos="fade-in" class="card-card">
      <div class="app-component-container">
        <img
          alt="image"
          src="public/shops/solomon-200h.webp"
          class="app-component-image"
        />
      </div>
      <h1 class="card-text">
        <span>סניף מתחם I SOLOMON </span>
        <br />
        <span>קריית גת</span>
      </h1>
      <span class="card-text4">
        <span>דרך הדרום 20</span>
        <br />
      </span>
    </div>
  </a>
</div>
